@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Manrope:wght@400;500;600;700&family=Playfair:wght@400;700&display=swap");
// DEFAULT
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Playfair Display";
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
// COLORS
$dark-color: #141414;
$light-color: #ffffffff;
$primary-color: #7a9ca5;
$dark-primary-color: #1e2c30;
$light-primary-color: #ebf3f5;
$secondary-color: #555555;
// MIXINS
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 0px;
}
@mixin btn($light-color, $primary-color) {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 125%;
  color: $light-color;
  background-color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 12%;
  transition: 0.3s;
  border: 1px $primary-color solid !important;
  &:hover {
    background-color: $light-color;
    color: $primary-color;
    svg {
      fill: $primary-color;
    }
  }
}
@mixin white-btn($dark-color, $primary-color, $light-color) {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: $dark-color;
  border: 2px $primary-color solid;
  transition: 0.3s;
  display: inline-block;
  &:hover {
    background-color: $primary-color;
    color: $light-color;
  }
}
@mixin suptitle($primary-color) {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 154.5%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 9px;
}
@mixin title($dark-color) {
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: $dark-color;
  @media (max-width: 1200px) {
    font-size: 37px;
    margin: 0 auto;
  }
}
@mixin text($secondary-color) {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 170%;
  color: $secondary-color;
}

// HEADER
.header {
  @include flex();
  padding: 38px 0;
  width: 100%;
  background-color: $light-color;
  position: sticky;
  top: 0;
  z-index: 99;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.23);
  &__container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 60px;
    position: relative;
  }

  &__start {
    @include flex();
    max-width: 502px;
  }

  &__logo {
    @include flex();
    column-gap: 8px;
    &_text {
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 125%;
      color: $dark-color;
    }
  }

  &__call {
    @include flex();
    column-gap: 8px;
    &_text {
      font-family: "Manrope";
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 125%;
      letter-spacing: -0.01em;
      color: $dark-color;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: 2fr 0.5fr 200px 0.5fr;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    @include flex();
    column-gap: 4px;
    &_link {
      @include text($secondary-color);
      transition: 0.3s;
      &:hover {
        color: $primary-color;
      }
    }
  }

  &__sm {
    @include flex();
    column-gap: 10px;
  }

  &__btn {
    @include flex();
    @include btn($light-color, $primary-color);
    column-gap: 12px;
    padding: 16px 33px;
  }
}
.accordion {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.panel {
  background-color: $light-color;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  display: none;
  border: 1px $primary-color solid;
  border-top: none;
  position: absolute;
  top: 40px;
  &__item {
    @include text($secondary-color);
    display: block;
    transition: 0.3s;
    &:hover {
      color: $primary-color;
    }
  }
}
#burger,
[for="burger"] {
  display: none;
}

@media (max-width: 1240px) {
  .header {
    &__call {
      display: none;
    }
  }
}
@media (max-width: 930px) {
  .header {
    height: 60px;
    padding: 0;
    &__nav {
      padding: 100px 0;
      display: none !important;
      position: fixed;
      background-color: $light-color;
      user-select: none;
      top: 60px;
      left: 50%;
      transform: translate(-50%);
      width: 100vw;
      height: 100vh;
      transition: 0.3s;
    }
    &__menu {
      flex-direction: column;
      row-gap: 20px;
    }
    &__sm {
      max-width: 100px;
      margin: 0 auto;
      flex-direction: row;
      margin-top: 20px;
    }
    &__btn {
      max-width: 200px;
      margin: 0 auto;
      flex-direction: row;
      margin-top: 20px;
    }

    [for="burger"] {
      display: flex;
      width: 30px;
      height: 30px;
      position: relative;
      cursor: pointer;
      justify-self: end;
      .burger__line {
        position: absolute;
        background-color: $primary-color;
        width: 30px;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: $primary-color;
          width: 30px;
          height: 2px;
          transition: 0.3s;
        }
        &::before {
          top: -8px;
        }
        &::after {
          top: 8px;
        }
      }
    }

    #burger:checked + label + nav {
      display: block !important;
      animation: show 0.5s ease;
    }
    #burger:checked + [for="burger"] {
      .burger__line {
        background-color: transparent;
        &::before {
          top: 0;
          transform: rotate(45deg);
        }
        &::after {
          top: 0;
          transform: rotate(135deg);
        }
      }
    }
  }
}
// HERO
.hero {
  background-image: url("../img/hero__bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100vw 100%;
  &__container {
    @include container();
    @include flex();
  }

  &__cta {
    background-color: $light-primary-color;
    z-index: 5;
  }

  &__suptitle {
    @include suptitle($primary-color);
    display: flex;
    align-items: center;
    column-gap: 9px;
  }

  &__title {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 115%;
    letter-spacing: -0.01em;
    color: $dark-color;
    max-width: 510px;
  }

  &__text {
    @include text($secondary-color);
    max-width: 508px;
    margin: 24px 0 34px 0;
  }

  &__btn {
    @include btn($light-color, $primary-color);
    padding: 24px 36px;
    display: inline-block;
  }
  &__img {
    z-index: 5;
    &_wrapper {
      position: relative;
      max-width: 550px;
      max-height: 545px !important;
      z-index: 10;
      right: 9%;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        width: 78%;
        height: 100%;
        padding: 50px;
        border: 10px $light-color solid;
        right: 0;
        left: 18%;
        border-left: none;
      }
    }
  }
}
@media (max-width: 1200px) {
  .hero {
    background-color: $light-primary-color;
    background-image: none;
    &__cta {
      text-align: center;
      margin: 0 auto;
    }
    &__suptitle {
      margin: 0 auto;
      display: inline-block;
    }
    &__title {
      margin: 0 auto;
    }
    &__text {
      margin: 0 auto;
      padding: 24px 0 34px 0;
    }
    &__img {
      &_wrapper {
        display: none;
      }
    }
  }
}
@media (max-width: 628px) {
  .hero {
    &__title {
      font-size: 60px;
    }
  }
}
// THERAPIE
.therapie {
  &__container {
    @include flex();
    @include container();
  }

  &__item {
    max-width: 330px;
  }

  &__img {
    &_wrapper {
      width: 330px;
      height: 250px;
      overflow: hidden;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 120%;
    color: $dark-color;
    margin-top: 26px;
  }

  &__text {
    @include text($secondary-color);
    margin: 11px 0 30px 0;
  }

  &__btn {
    @include white-btn($dark-color, $primary-color, $light-color);
    padding: 18px 43px;
  }
}
@media (max-width: 1200px) {
  .therapie {
    &__container {
      flex-direction: column;
      row-gap: 40px;
    }
    &__item {
      max-width: 100%;
      text-align: center;
    }
    &__img {
      &_wrapper {
        width: 100%;
        height: 100%;
      }
    }
  }
}
// ABOUT
.about {
  background-color: $light-primary-color;
  &__container {
    @include flex();
    @include container();
  }

  &__cta {
    max-width: 529px;
  }

  &__suptitle {
    @include suptitle($primary-color);
  }

  &__title {
    @include title($dark-color);
    max-width: 377px;
  }

  &__text {
    @include text($secondary-color);
    margin-top: 16px;
  }

  &__ad {
    @include flex();
    margin-top: 37px;
    max-width: 515px;
    &_item {
      @include flex();
      flex-direction: column;
      row-gap: 14px;
      background-color: $light-color;
      border: 1px $dark-primary-color solid;
      width: 165px;
      padding: 21px 11px;
      text-align: center;
    }
    &_title {
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 120%;
      color: $dark-color;
      max-width: 99px;
    }
  }
  &__img {
    z-index: 1;
    position: relative;
    &_wrapper {
      position: relative;
      max-width: 500px;
      max-height: 576px;
      margin: 50px 50px 0 0;

      &::after {
        content: " ";
        position: absolute;
        background-image: url("../img/about__img_bg.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        right: 0;
        top: -50px;
        left: 50px;
        z-index: 0 !important;
      }
    }
  }
}

@media (max-width: 1200px) {
  .about {
    &__container {
      flex-direction: column;
      row-gap: 40px;
    }
    &__cta {
      margin: 0 auto;
      text-align: center;
    }
    &__img {
      &_wrapper {
        margin: 0;
        &::after {
          content: none;
        }
      }
    }
  }
}
@media (max-width: 628px) {
  .about {
    &__img {
      width: 80%;
      display: block;
      margin: 0 auto;
      &__wrapper {
        &::after {
        }
      }
    }
    &__ad {
      flex-direction: column;
      row-gap: 20px;
      &_item {
        width: 80%;
      }
    }
  }
}
// TESTEMONIALS
.testemonials {
  background-color: $light-primary-color;
  &__container {
    @include container();
  }
  &__start {
    text-align: center;
  }
  &__suptitle {
    @include suptitle($primary-color);
  }

  &__title {
    @include title($dark-color);
  }

  &__item {
    max-width: 582px;
    &_wrapper {
      @include flex();
      margin-top: 40px;
    }
  }

  &__text {
    @include text($secondary-color);
    color: $dark-color;
    max-width: 485px;
    &_wrapper {
      background-color: $light-color;
      padding: 44px;
    }
  }

  &__info {
    @include flex();
    background-color: $dark-primary-color;
    padding: 44px;
  }

  &__img {
    border: 5px $light-color solid;
    &_wrapper {
      width: 74px;
      height: 74px;
    }
  }

  &__user {
    @include flex();
    column-gap: 20px;
    &_info {
      color: $light-color;
    }
  }
}
@media (max-width: 1200px) {
  .testemonials {
    &__item {
      &_wrapper {
        flex-direction: column;
        row-gap: 40px;
      }
    }
  }
}
@media (max-width: 628px) {
  .testemonials {
    &__info {
      justify-content: center;
    }
    &__brakets {
      display: none;
    }
  }
}
// ADVENT
.advent {
  &__container {
    @include container();
  }

  &__start {
    text-align: center;
  }

  &__suptitle {
    @include suptitle($primary-color);
  }

  &__title {
    @include title($dark-color);
  }

  &__item {
    &_wrapper {
      margin-top: 43px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      gap: 35px;
    }
    &_title {
      font-weight: 700;
      font-size: 1.625rem;
      line-height: 120%;
      color: $dark-color;
      margin-top: 20px;
      max-width: 320px;
    }

    &_text {
      @include text($secondary-color);
      margin-top: 11px;
    }
  }
}
@media (max-width: 1200px) {
  .advent {
    &__item {
      text-align: center;
      &_wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
      &_title {
        margin: 0 auto;
      }
    }

    &__img {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 930px) {
  .advent {
    &__item {
      &_wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
}
// SERVICES
.services {
  &__container {
    @include container();
  }

  &__start {
    text-align: center;
    max-width: 659px;
    margin: 0 auto;
  }

  &__suptitle {
    @include suptitle($primary-color);
  }

  &__title {
    @include title($dark-color);
  }

  &__btn {
    @include white-btn($dark-color, $primary-color, $light-color);
    padding: 24px 34px;
    margin-top: 58px;
  }

  &__item {
    &_wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      margin-top: 50px;
      background-image: url("../img/services__bg.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__menu {
    max-width: 530px !important;
    &_item {
      padding-bottom: 22px;
      border-bottom: 1px #9bb7bf solid;
    }

    &_title {
      font-family: "Playfair Display";
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 130%;
      color: $dark-color;
    }

    &_text {
      @include text($secondary-color);
    }
  }
}
.order {
  order: 2;
}
@media (max-width: 1200px) {
  .services {
    &__item {
      justify-self: center !important;
      align-self: stretch;
      text-align: center;

      &_wrapper {
        grid-template-columns: 1fr;
        background-image: none;
        gap: 40px;
      }
    }
    &__btn {
      &_wrapper {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .order {
    order: 0;
  }
}
@media (max-width: 628px) {
  .services {
    &__img {
      width: 70%;
      display: block;
      margin: 0 auto;
    }
  }
}
// FLAT
.flat {
  background-color: #edf5f7;
  &__container {
    @include container();
    @include flex();
  }

  &__cta {
    max-width: 534px;
  }

  &__suptitle {
    @include suptitle($primary-color);
  }

  &__title {
    @include title($dark-color);
    max-width: 435px;
  }

  &__text {
    @include text($secondary-color);
    margin-top: 14px;
  }

  &__offer {
    @include flex();
    max-width: 445px;
    margin-top: 37px;
    &_container {
      background-color: $light-color;
      padding: 19px 40px;
      display: flex;
      flex-direction: column;
      row-gap: 18px;
    }
    &_item {
      display: flex;
      column-gap: 19px;
    }

    &_dots {
      display: flex;
      column-gap: 6px;
      padding-top: 8px;
    }

    &_dot {
      width: 6px;
      height: 6px;
      background-color: #5c8692;
      border-radius: 50%;
      display: block;
    }
    &_title {
      font-weight: 800;
      text-transform: uppercase;
      font-family: "Manrope";
      font-size: 0.9375rem;
      line-height: 150%;
      color: $dark-color;
      letter-spacing: 8%;
    }

    &_text {
      font-weight: 500;
      font-family: "Manrope";
      font-size: 0.9375rem;
      line-height: 150%;
      color: $dark-color;
    }
  }

  &__sale {
    padding: 12px 34px;
    background-color: $dark-primary-color;
    color: $light-color !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &_title {
      font-family: "Manrope";
      font-weight: 800;
      font-size: 1.125rem;
      line-height: 175%;
      text-transform: uppercase;
    }

    &_text {
      font-family: "Manrope";
      font-weight: 800;
      font-size: 1.125rem;
      line-height: 175%;
      letter-spacing: 0.02em;
    }
    .big__text {
      font-family: "Manrope";
      font-weight: 900;
      font-size: 48px;
    }
    .normal__text {
      font-family: "Manrope";
      font-weight: 400;
      font-size: 20px;
    }
  }

  &__form {
    padding: 66px 75px;
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 47%;

    &_item {
      border: 1px $primary-color solid;
      padding: 18px;
      display: flex;
    }

    &_input {
      @include text($secondary-color);
      width: 100%;
      height: 29px;
      border: none;
      padding: 0 15px;
      outline: none;
    }
    &_btn {
      @include btn($light-color, $primary-color);
      border: none;
      padding: 23px;
      cursor: pointer;
    }
  }
}
@media (max-width: 1200px) {
  .flat {
    &__container {
      flex-direction: column;
      row-gap: 40px;
    }
    &__cta {
      margin: 0 auto;
      text-align: center;
    }
    &__offer {
      margin: 0 auto;
      padding-top: 37px;
      text-align: left;
    }
    &__form {
      width: 80%;
      align-items: center;
    }
  }
}
@media (max-width: 628px) {
  .flat {
    &__offer {
      flex-direction: column;
      width: 70%;
      &_container {
        width: 100%;
      }
      &_item {
        flex-direction: column;
        row-gap: 10px;
      }
    }
    &__sale {
      width: 100%;
    }
  }
}

// BLOG
.blog {
  &__container {
    @include container();
  }

  &__start {
    text-align: center;
  }

  &__suptitle {
    @include suptitle($primary-color);
  }

  &__title {
    @include title($dark-color);
  }

  &__item {
    max-width: 370px;
    &_wrapper {
      @include flex();
      margin-top: 40px;
    }

    &_img {
      display: flex;
      width: 100%;
    }

    &_title {
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 140%;
      max-width: 280px;
      letter-spacing: 2%;
      margin-top: 8px;
    }

    &_text {
      @include text($secondary-color);
    }
  }

  &__info {
    padding: 30px 27px;
    background-color: $light-primary-color;
  }

  &__date {
    @include flex();
    &_text {
      font-family: "Manrope";
      font-weight: 700;
      font-size: 0.8125rem;
      line-height: 125%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $primary-color;
    }
  }

  &__btn {
    @include white-btn($dark-color, $primary-color, $light-color);
    padding: 23px 40px;

    &_wrapper {
      text-align: center;
      margin-top: 60px;
    }
  }
}
.line {
  width: 19px;
  height: 2px;
  border-color: #272d32;
  display: block;
}
@media (max-width: 1200px) {
  .blog {
    &__item {
      max-width: 80%;
      &_wrapper {
        flex-direction: column;
        row-gap: 40px;
      }
    }
  }
}
@media (max-width: 628px) {
  .blog {
    &__date {
      flex-direction: column;
      row-gap: 10px;
    }
  }
}

// FOOTER
.footer {
  width: 100%;
  background-color: $dark-primary-color;
  &__container {
    @include container();
    padding: 60px 0;
  }

  &__start {
    @include flex();
  }

  &__logo {
    @include flex();
    column-gap: 17px;
    &_text {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 125%;
      color: $light-color;
    }
  }

  &__sm {
    @include flex();
    column-gap: 10px;
    &_item {
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px $primary-color solid;
      cursor: pointer;
    }
  }

  &__offer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.25fr;
    justify-content: space-between;
    margin-top: 66px;
    color: $light-color;

    &_item {
      display: flex;
      flex-direction: column;
      row-gap: 21px;
    }

    &_title {
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 140%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    &_link {
      font-family: "Manrope";
      font-weight: 500;
      font-size: 1.0625rem;
      line-height: 200%;
      letter-spacing: -0.01em;
      color: $light-color;
    }
  }

  &__row {
    width: 100%;
    background-color: #111e22;
    color: $light-color;
    text-align: center;
    padding: 20px 0;
    &_text {
      font-family: "Manrope";
      font-weight: 400;
      font-size: 0.9375rem;
      line-height: 200%;
      letter-spacing: -0.01em;
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    &__offer {
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      gap: 40px;
      &_item {
        justify-self: center;
      }
    }
  }
}
@media (max-width: 628px) {
  .footer {
    &__start {
      flex-direction: column;
      row-gap: 40px;
    }
    &__offer {
      grid-template-columns: 1fr;
    }
  }
}
